@media (max-width: @screen-sm-max){
    body, .container, .wrapper {
        min-width: 1170px !important;
    }
/*    .page
    , .slideshow .items>li 
    , .panel.content .panel-body .items li
    , .panel.content .panel-body
    { height: 150vh !important; }
    */
    .panel.tiles .panel-heading h2 { margin-bottom: 30px; }
}