.icon-48-contacts {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

.icon-48-contactform {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}